
@media screen and (max-width: 768px) {
    .banner .tab-group{
        flex-direction: column;
        margin: 0px;

    }
    .history-info {
        width: 100%;
        flex-direction: column;
    }
    .history-text {
        width: 100%;
    }
    .how-we-started, .where-we-are-now {
        margin: 0;
    }
}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.history-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.history-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.how-we-started, .where-we-are-now {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
} 
.how-we-started div, .where-we-are-now div {
    margin: 12px;
}