.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.history-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 48px;
}
.history-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.history-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.how-we-started, .where-we-are-now {
    margin: 24px;
}