.banner {
    background-color: #002D56;
    color: #FFFFFF;
    width: 100%;
    padding: 24px;
    font-weight: 700;
}
.banner-title {
    color: #FFFFFF;
    font-size: 48pt;
    font-weight: 100;
    margin: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 48px;
    color: #002D56;
}
.page-break {
    border: 4px solid #002D56;
    border-radius: 10px;
    width: 200px;
}
.block-link {
    background-color: #FFE381;
    width: 300px;
    text-align: center;
    padding: 48px 24px;
    border-radius: 10px;
}
.message {
    font-size: 24px;
    color: #002D56;
}
.tabs {
    text-decoration: none;
    background-color: #FFC700;
    color: #002D56;
    width: 100px;
    padding: 24px 12px;
    font-weight: 700;
    margin: 24px;
    text-align: center;
    border-radius: 10px;
}
.tabs:hover {
    background-color: #FFE381;
}
.tabs.active {
    text-decoration: none;
    background-color: #FFE381;
}
.placeholder {
    color: white;
    background-color: #14C3F4;
    width: 400px;
    padding: 64px 48px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.headlines {
    background-image: url(/../assets/thumbnails/Headlines_thumb_1280x720.png);
}
.wxyz {
    background-image: url(/../assets/thumbnails/WxYz_thumb_1280x720.png);
}
.extended-forecast {
    background-image: url(/../assets/thumbnails/Extended_thumb_1280x720.png);
}
.climate-watch {
    background-image: url(/../assets/thumbnails/ClimateWatch_thumb_1280x720.png);
}
.interviews {
    background-image: url(/../assets/thumbnails/Interviews_thumb_1280x720.png);
}
.on-demand {
    background-image: url(/../assets/thumbnails/OnDemand_thumb_1280x720.png);
}
.week-trends {
    background-image: url(/../assets/thumbnails/Week2Trends_thumb_1280x720.png);
}
.long-shots {
    background-image: url(/../assets/thumbnails/Longshots_thumb_1280x720.png);
}
.weather-watercooler {
    background-image: url(/../assets/thumbnails/WeatherWatercooler_thumb_1280x720.png);
}
.tropical-tracker {
    background-image: url(/../assets/thumbnails/WaterWatch_thumb_1280x720.png);
}
.water-watch {
    background-image: url(/../assets/thumbnails/SnowRisk_thumb_1280x720.png);
}
.snow-risk {
    background-image: url(/../assets/thumbnails/SnowRisk_thumb_1280x720.png);
}
.two-day {
    background-image: url(/../assets/thumbnails/2DayForecast_thumb_1280x720.png);
}

@media screen and (min-width: 768px) {
    .block-link {
        width: 30%;
    }
} 