* {
    font-family: sans-serif;
    color: #002D56;
}
.page-link {
    margin: 0 24px;
    text-decoration: none;
    color: #002D56;
    font-size: 24px; 
}
.title {
    font-size: 48px;
    color: #002D56;
    font-family: 'Courier New', Courier, monospace;
}
.page-break {
    border: 4px solid #002D56;
    border-radius: 10px;
    width: 200px;
}
.block-link {
    background-color: #FFE381;
    width: 300px;
    text-align: center;
    padding: 48px 24px;
    border-radius: 10px;
}
.message {
    font-size: 24px;
    color: #002D56;
    font-family: 'Courier New', Courier, monospace;
}