* {
    margin: 5px;
    box-sizing: border-box;
}
.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.social {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.social .title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
}
.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}
.fa {
    color: white;
    width: 100px;
    height: 100px;   
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
}
.fa-instagram {
    background-color: #e1306c;
}
.fa-facebook {
    background-color: #3b5998;
}
.fa-youtube {
    background-color: #c4302b;
}
.fa-twitter {
    background-color: #1da1f2;
}
.fa:hover {
    opacity: 0.7;
}
.fa-bars {
    color: #002D56;
    font-size: 24pt;
}
.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.personal-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.personal-info input {
    width: 400px;
    margin: 10px;
}
.personal-info label {
    margin-right: 20px;
}
.content-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.email {
    font-size: small;
    text-decoration: none;
    color: #1da1f2;
}
