.general-info {
    padding-top: 16px;
    background: linear-gradient(#FFFFFF, #FFE381);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.welcome-sign{
    padding: 24px;
    font-size: 16pt;
    font-weight: bold;
}
.times-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-content{
    margin: 8px;
}
.photo-of-the-week {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    margin: 24px;
}
.photo-description {
    width: 100%;
    margin: 24px;
    font-size: 12pt;
    text-align: center;
}
.video-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 12px;
}

@media screen and (min-width: 768px) {
    .general-info {
        flex-direction: row;
        padding: 24px;
    }
    .times-info{
        font-size: 12pt;
        font-weight: bold;
    }
    .times-info div{
        margin: 10px;
    }
    .photo-of-the-week {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        margin: 24px;
    }
    .photo {
        color: white;
        background-color: #14C3F4;
        width: 400px;
        padding: 64px 48px;
    }
    .photo-description {
        width: 600px;
        margin: 64px;
        text-align: center;
    }
}
