/* .banner {
    position: sticky;
} */

.tab-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.headlines {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: 60%;
    margin: auto;
}

.placeholder {
    width: 300px
}

.description {
    width: 100%;
    margin-left: 24px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: 60%;
    margin: 48px auto;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    width: 100%;
    margin: 24px auto;
}