.tab-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.placeholder {
    width: 200px;
}

.description {
    width: 100%;
    margin-left: 24px;
}
.video-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    margin: 24px;
}
.video-container {
    margin: 12px;
}
@media screen and (max-width: 768px) {
    .video-grid {
        grid-template-columns: 50% 50%;
    }
    .video-container {
        margin: 0;
    }
    .placeholder {
        width: 40%;
    }

}